@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  min-height: 100%;
}


#__next {
  height: 100%;
}



code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;

  /* color: #d400ff; */
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}

code[class*='language-'] {
  padding: 0;
}

p {
  margin-bottom: 0;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #2684FF !important;
  border-width: 2px;
}








.cause-details__organizer>img {
  @apply absolute rounded-[50%] left-[30px] top-[30px];
}

.p {
  @apply text-[13px] font-medium leading-none text-[#ed4b4b] m-0;
}

.cause-details__organizer h3 {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 14px 0px 24px
}



.cause-details__organizer h3 strong {
  font-weight: 500;
  color: black
}

/* .cause-details__donations-list li {
  padding-top: 20px;
  padding-bottom: 20px
} */

.cause-details__donations-list li p {
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
}



/* .cause-details__donations-title {
  font-family: "Libre Baskerville", serif;
  font-size: 20px
} */

.cause-details__donations-list li>img {
  @apply absolute z-10 rounded-[50%] left-0 top-5;
}


.cause-details__donations-list li:before {
  @apply content-[""] w-[calc(100%_+_40px)] absolute -translate-x-2/4 h-full bg-white opacity-0 invisible transition-all duration-[0.5s] ease-[ease] rounded-[15px] left-2/4 top-0;
}

.cause-details__donations-list li h3 {
  @apply text-[black] text-base font-bold leading-none relative z-10 mt-[13px] mb-0.5 mx-0;
  font-size: 16px;
  font-weight: 700
}

.cause-details__donations-list li h3 span {
  @apply text-sm font-medium text-[#5366c2];
  font-family: "Jost", sans-serif;
  font-size: 14px;
  font-weight: 500;
}



.title h3 {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -.04em;
  margin: 10px 0 15px;
}

.cause-details__donations-title {
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -.04em;
  margin: 10px 0 15px;
}

.pb-40 {
  @apply pb-10;
}

.pt-120 {
  @apply pt-[120px];
}

.as-share-nav {
  float: right;
}

.as-share-nav li {
  float: left;
  list-style: none;
  margin-left: 7px;
}

li {
  line-height: 28px;
}

.as-share-nav li a {
  float: left;
  padding: 9px 12px 9px;
  color: #000;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.cause-card__content {
  min-height: 60px;
  padding: 20px;
  margin-bottom: 20px;
}

.progress {
  margin-bottom: 10px;
}